@charset "utf-8";

html, body {
  margin: 0; 
  padding: 0; 
  font-family: "APPLE SD Gothic NEO", "Noto Sans CJK KR", '맑은 고딕', '돋움', sans-serif;
  font-size: 16px;
  line-height: 1.6; 
  word-spacing: -1px;
  color: #000;
}

body {
  margin: 1em; 
}

h1 {
  margin: 0; 
}

p {
  margin: 0; 
}
