@charset "utf-8";

body {
  font-family: "APPLE SD Gothic NEO", "Noto Sans CJK KR", '맑은 고딕', '돋움', sans-serif;
  font-size: small;
  line-height: 1.6; 
  color: #000;
}

// -webkit-appearance: none;
// -webkit-tap-highlight-color: rgba(0,0,0,0);
// user-select: none;
